

.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    background-color: #393f45;
  }
  .navbar-interactive {
    width: 90%;
    display: flex;
    position: sticky;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    border-radius: 50px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
  }
  .logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgb(52, 71, 132);
    cursor: pointer;
    /* text-transform: uppercase; */
  }
  .desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 39px;
    /* font-style: italic; */
    font-family :'Times New Roman', Times, serif;
    color:rgb(153, 153, 106) ;
  }
  .nav1 {
    transition: 0.3s;
  }
  .nav1:hover {
    color: #3d6e70ff;
  }
  .nav2 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .nav2:hover {
    color: #3d6e70ff;
  }
  .nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .nav3:hover {
    color: #3d6e70ff;
  }
  .nav4 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .nav4:hover {
    color: #3d6e70ff;
  }
  .nav5 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .nav5:hover {
    color: #3d6e70ff;
  }
  .buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .login {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
  }
  .register {
    /* color: var(--dl-color-gray-white); */
    transition: 0.3s;
    font-weight: bold;
    border-color: var(--dl-color-primary1-blue100);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
    font-style: italic;
    color: rgb(52, 71, 132);
    font-size: 15px;
    cursor: pointer;
    
  }
  .register:hover {
    box-sizing: border-box;
    border-color: rgba(41, 20, 119, 0.9);
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem; */
    background-color: rgba(221, 212, 180, 0.9);
    
  }
  .burger-menu {
    display: none;
  }
  .icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
  }
  .nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .logo1 {
    font-size: 2em;
    font-weight: bold;
  }
  .close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon02 {
    fill: var(--dl-color-gray-900);
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .nav11 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav21 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav31 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav41 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav51 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
 
  .buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .login1 {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
  }
  .register1 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
  }
  .register1:hover {
    border-color: #849492ff;
    background-color: #849492ff;
  }
  .icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #393f45;
  }
  .hero1 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    min-height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .container1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .hero-heading {
    /* color: var(--dl-color-gray-white
    ); */
    color: white;
    /* max-width: 800px; */
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    /* line-height: 1.6; */
    /* font-weight: 500; */
    /* font-style: italic; */
    color: white;
    /* padding : 14px;
     */
     margin: -15px;

     padding-bottom : 15px;
  }
  .hero-sub-heading {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    font-style: italic;
    color: rgb(178, 178, 135);
  }
  .btn-group {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .hero-button1 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    transition: 0.3s;
    font-weight: bold;
    padding-top: 1.5rem;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 0px;
    padding-left: 3rem;
    border-radius: 45px;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
    font-size: 14px;
    height: 38px;
  }
  .hero-button1:hover {
    color: var(--dl-color-gray-white);
    border-color: rgba(41, 20, 119, 0.9);
    background-color: rgba(126, 102, 211, 0.9)
  }
  .hero-button2 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: bold;
    padding-top: var(--dl-space-space-unit);
    border-color: transparent;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: transparent;
    height: 37px;
    font-size: 15px;
  }
  .hero-button2:hover {
    border-color: var(--dl-color-gray-white);
    background-color: rgb(213, 213, 181);
  }
  .details {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .details1 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: space-between;
  }
  .container2 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .text {
    color: var(--dl-color-primary1-blue80);
    text-align: left;
    font-family: "Raleway";
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .details-heading {
    width: 80%;
    text-align: left;
    font-family: "Raleway";
    line-height: 1.6;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .details-sub-heading {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .details-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-round);
  }

  
  .features {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-secondary-grey400);
  }
  .features1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .text3 {
    color: var(--dl-color-primary1-blue80);
    font-family: "Raleway";
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features-heading {
    font-family: "Raleway";
    line-height: 1.6;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    margin-top: -54px;
  }
  .features-sub-heading {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
  }
  .container4 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .pricing {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery1 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .gallery-heading {
    text-align: center;
    font-family: "Raleway";
    line-height: 1.6;
  }
  .gallery-sub-heading {
    color: rgb(153, 153, 153);
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .container5 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .banner {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
  }
  .banner1 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: var(--dl-size-size-maxwidth);
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: flex-start;
  }
  .banner-heading {
    color: var(--dl-color-gray-white);
    text-align: center;
    font-family: "Raleway";
    line-height: 1.6;
  }
  .banner-sub-heading {
    color: var(--dl-color-gray-white);
    max-width: var(--dl-size-size-maxwidth);
    text-align: center;
    line-height: 1.6;
  }
  .banner-button {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: 700;
    padding-top: 1.5rem;
    border-width: 0px;
    padding-left: 3rem;
    border-radius: 45px;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
  }
  .banner-button:hover {
    border-color: rgba(41, 20, 119, 0.9);
    background-color: rgba(41, 20, 119, 0.9);
  }
  .faq {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
  }
  .footer1 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: space-between;
  }
  .container6 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .logo2 {
    color: var(--dl-color-gray-white);
    font-size: 2em;
    font-weight: bold;
  }
  .nav1 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
  }
  .nav12 {
    color: var(--dl-color-secondary-gray500);
    margin-left: 0px;
  }
  .nav22 {
    color: var(--dl-color-secondary-gray500);
    margin-left: var(--dl-space-space-unit);
  }
  .nav32 {
    color: var(--dl-color-secondary-gray500);
    margin-left: var(--dl-space-space-unit);
  }
  .nav42 {
    color: var(--dl-color-secondary-gray500);
    margin-left: var(--dl-space-space-unit);
  }
  .nav52 {
    color: var(--dl-color-secondary-gray500);
    margin-left: var(--dl-space-space-unit);
  }
  .separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-800);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .container7 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .text6 {
    color: var(--dl-color-secondary-gray500);
  }
  .icon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon10 {
    fill: var(--dl-color-secondary-gray500);
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .icon12 {
    fill: var(--dl-color-secondary-gray500);
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .icon14 {
    fill: var(--dl-color-secondary-gray500);
    width: 24px;
    height: 24px;
  }
  @media(max-width: 991px) {
    .hero1 {
      flex-direction: column;
    }
    .container1 {
      align-items: center;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
      padding-right: 0px;
    }
    .hero-heading {
      text-align: center;
    }
    .hero-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
    .details-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
    .features-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
    }
    .gallery-sub-heading {
      text-align: center;
    }
    .container5 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .banner-sub-heading {
      max-width: 100%;
    }
  }
  @media(max-width: 767px) {
    .navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .desktop-menu {
      display: none;
    }
    .burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mobile-menu {
      padding-top: var(--dl-space-space-oneandhalfunits);
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
      padding-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .nav11 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .nav21 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .nav31 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .nav41 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .nav51 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .hero1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .hero-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .details1 {
      align-items: center;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
      flex-direction: column;
      justify-content: center;
    }
    .container2 {
      align-items: center;
      justify-content: flex-start;
    }
    .text {
      text-align: center;
    }
    .details-heading {
      text-align: center;
    }
    .details-sub-heading {
      text-align: center;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .details-image {
      margin-top: var(--dl-space-space-threeunits);
      margin-left: 0px;
    }
    .features1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .features-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .container4 {
      grid-template-columns: 1fr;
    }
    .gallery1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .gallery-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .container5 {
      grid-template-columns: 1fr 1fr;
    }
    .banner1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .banner-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .footer1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .container7 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .text6 {
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 479px) {
    .navbar-interactive {
      width: 90%;
      padding: var(--dl-space-space-unit);
    }
    .logo {
      font-size: 1.5em;
    }
    .mobile-menu {
      padding: 16px;
    }
    .logo1 {
      font-size: 1.5em;
    }
    .icon02 {
      fill: var(--dl-color-gray-900);
    }
    .hero1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .container1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .btn-group {
      flex-direction: column;
    }
    .hero-button2 {
      margin-top: var(--dl-space-space-unit);
      margin-left: 0px;
    }
    .features1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .gallery1 {
      padding: var(--dl-space-space-unit);
    }
    .container5 {
      grid-template-columns: 1fr;
    }
    .banner1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .footer1 {
      padding: var(--dl-space-space-unit);
    }
    .separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .container7 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .text6 {
      text-align: center;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    
  }

 
  